maps_week11_bonus_points/content/*.shp filter=lfs diff=lfs merge=lfs -text
maps_week11_bonus_points/content/*.dbf filter=lfs diff=lfs merge=lfs -text
maps_week11_bonus_points/*.zip filter=lfs diff=lfs merge=lfs -text
